In [4]:
import pandas as pd

In [5]:
file_path = "Resources\shopping_data.csv"
shopping_df = pd.read_csv(file_path)
shopping_df.head()

   CustomerID Card Member   Age  Annual Income  Spending Score (1-100)
0           1         Yes  19.0          15000                    39.0
1           2         Yes  21.0          15000                    81.0
2           3          No  20.0          16000                     6.0
3           4          No  23.0          16000                    77.0
4           5          No  31.0          17000                    40.0

In [6]:
# Columns
shopping_df.columns

Index(['CustomerID', 'Card Member', 'Age', 'Annual Income',
       'Spending Score (1-100)'],
      dtype='object')

In [7]:
# Drop null rows
df_shopping = shopping_df.dropna()

In [9]:
# Saving cleaned data
file_path = "Resources/shopping_data_cleaned.csv"
shopping_df.to_csv(file_path, index=False)